{{ define "main" }}
<article class="post">
    <div class="post-content">
        <div class="post-body">
            <h2>{{ .Title }}</h2>
            <p class="date">发布于: {{ .Date.Format "2006-01-02" }}</p>
            
            {{ if .TableOfContents }}
            <div class="table-of-contents">
                <h3>目录</h3>
                {{ .TableOfContents }}
            </div>
            {{ end }}
            
            <div>
                {{ .Content }}
            </div>
        </div>
    </div>

    <div class="post-tags">
        {{ if .Params.tags }}
            <strong>标签:</strong>
            {{ range .Params.tags }}
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
        {{ end }}
    </div>
</article>
{{ end }}
